version: 2.1
orbs:
  github-cli: {}
  orb-tools: circleci/orb-tools@12.2.0

filters: &filters
  tags:
    only: /.*/

release-filters: &release-filters
  branches:
    ignore: /.*/
  tags:
    only: /^v[0-9]+\.[0-9]+\.[0-9]+$/

jobs:
  # Define one or more jobs which will utilize your orb's commands and parameters to validate your changes.
  integration-test-1:
    parameters:
      executor:
        type: executor
      version:
        type: string
    executor: <<parameters.executor>>
    steps:
      - github-cli/install:
          version: << parameters.version >>
      - run:
          name: verify Install
          command: command -v gh
      - github-cli/setup:
          token: GHI_TOKEN
      - run:
          name: verify Setup
          command: gh auth status
      - github-cli/clone
      - run:
          name: Verify Clone
          command: |
            [ -f README.md ]
      # Test with a custom repo URL
      - run: mkdir test2
      - github-cli/clone:
          repo: https://github.com/CircleCI-Public/Orb-Project-Template.git
          dir: ./test2
      - run:
          command: |-
            [ -f ./test2/README.md ]
      - run: mkdir test3
      - github-cli/clone:
          repo: https://github.com/CircleCI-Public/Orb-Project-Template.git
          branch: gmemstr-patch-1
          dir: ./test3
      - run: |
          cd test3
          [ "$(git rev-parse --abbrev-ref HEAD)" = "gmemstr-patch-1" ] 
          
workflows:
  test-deploy:
    jobs:
      - integration-test-1:
          context: orb-publisher
          filters: *filters
          matrix:
            parameters:
              executor: ["docker-x86-debian", "apple-silicon-14", "apple-silicon-15", "linuxvm-arm-ubuntu-2004", "linuxvm-x86-ubuntu-2004", "linuxvm-arm-ubuntu-2204", "linuxvm-x86-ubuntu-2204", "linuxvm-arm-ubuntu-2404", "linuxvm-x86-ubuntu-2404"]
              version: [2.27.0, 2.40.0, "latest"] # 2.27.0 is the last version that uses ".tar.gz" instead of ".zip" for macOS
      - github-cli/release:
          tag: "test-release-$CIRCLE_SHA1"
          title: Test
          prerelease: true
          files: README.md
          context: orb-developer
          token: GHI_TOKEN
      - orb-tools/pack:
          filters: *release-filters
      - orb-tools/publish:
          orb_name: circleci/github-cli
          vcs_type: << pipeline.project.type >>
          pub_type: production
          github_token: GHI_TOKEN
          requires:
            - orb-tools/pack
            - integration-test-1
          context: orb-publisher
          filters: *release-filters
executors:
  docker-x86-debian:
    docker:
      - image: cimg/base:current
  apple-silicon-14:
    macos:
      xcode: 14.3.1
    resource_class: macos.m1.medium.gen1
  apple-silicon-15:
    macos:
      xcode: 15.4.0
    resource_class: macos.m1.medium.gen1
  linuxvm-arm-ubuntu-2004:
    machine:
      image: ubuntu-2004:2024.08.1
    resource_class: arm.medium
  linuxvm-x86-ubuntu-2004:
    machine:
      image: ubuntu-2004:2024.08.1
  linuxvm-arm-ubuntu-2204:
    machine:
      image: ubuntu-2204:2024.08.1
    resource_class: arm.medium
  linuxvm-x86-ubuntu-2204:
    machine:
      image: ubuntu-2204:2024.08.1
  linuxvm-arm-ubuntu-2404:
    machine:
      image: ubuntu-2404:2024.08.1
    resource_class: arm.medium
  linuxvm-x86-ubuntu-2404:
    machine:
      image: ubuntu-2404:2024.08.1
